@import '../../settings/theme.css';
@import '../../settings/global.css';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --bg-color-1: #153843;
    --bg-color-2: #141923;
}
body, html {
    min-height: 100vh;
}
p, input, label, h1, h2, h3, span {
    font-family: var(--main-font), sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.superior-part {
    width: 100%;
    height: 400px;
    background: linear-gradient(135deg, var(--bg-color-1), var(--bg-color-2));
}
.superior-elements {
    position: relative;
    display: flex;
    justify-content: space-between;
    column-gap: 22%;
    align-items: stretch;
    width: 100%;
    padding: 40px 30px;
    padding-bottom: 60px;
}
.superior-elements .search {
    border: 1px solid #ffffff22;
    background-color: #ffffff22;
    border-radius: 12px;
    padding: 3px 5px;
    color: #fff;
    width: 100%;
    min-width: 140px;
}
.superior-elements img {
    border: 1px solid #ffffff22;
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 12px;
    transition: all ease .2s;
}
.superior-elements img:hover {
    cursor: pointer;
    transform: translateY(-4px);
}
.superior-elements .home-welcome {
    position: absolute;
    top: 100px;
    right: 30px;
    color: #fff;
    font-size: 12px;
    display: block;
}


.middle-part {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    top: 140px;
    padding: 8% 12%;
    padding-bottom: 100px;
    width: 100%;
}
.middle-part .card {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 15px;
    background-color: #fff;
    padding: 20px;
    box-shadow: -1px 2px 20px 0px #141923;
    transition: all ease .4s;
    max-width: 300px;
    min-width: 250px;
    margin: 15px;
    overflow-x: hidden;
}
.middle-part .card:hover {
    transform: translateY(-8px);
}
.middle-part .card img {
    align-self: center;
    max-width: 100%;
    border-radius: 12px;
    object-fit: cover;
}
.middle-part .card .card-title {
    font-weight: 900;
    padding: 8px 2px;
    white-space: initial;
    word-wrap: break-word;
    font-size: var(--font-pp);
}
.middle-part .card .card-description, .card-price {
    font-size: var(--font-p);
}
.card-price {
    padding-top: 5px;
    font-weight: 900;
    text-align: right;
}
.card-published {
    padding-top: 5px;
    font-weight: 400;
    text-align: center;
    font-size: 13px;
    opacity: 0.8;
}
.card-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}


.bottom-navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    padding: 20px 10%;
    width: 100%;
    background-color: #fff;
}
.bottom-navigation .anchor {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    transition: all ease .2s;
}
.bottom-navigation .anchor:hover {
    transform: translateY(-4px);
}
.bottom-navigation .anchor img {
    opacity: 1;
    filter: invert(50%);
    width: 25px;
}
.bottom-navigation .anchor.selected {
    background-color: #ff960035;
    box-shadow: 0px 0px 20px #ff9600cc;
}
.bottom-navigation .anchor.selected img {
    opacity: 1;
    /* Filter to orange */
    filter: invert(52%) sepia(59%) saturate(825%) hue-rotate(357deg) brightness(106%) contrast(110%);
}

@media (min-width: 500px) {
    .middle-part {
        display: flex;
        flex-direction: row;
    }
}
