@import '../../settings/theme.css';
@import '../../settings/global.css';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --bg-color-1: #153843;
    --bg-color-2: #141923;
}
body, html {
    height: 100%;
    width: 100%;
}
.landing-container {
    height: 100%;
    width: 100%;
}
.landing-superior-part {
    font-family: 'Poppins';
    height: 40vh;
    background: linear-gradient(135deg, var(--bg-color-1), var(--bg-color-2));
    /* color: var(--secondary-text-color); */
}
.sidebar-area{
    height: 40px;
    width: 40px;
    padding: 40px;
}
.sidebar-icon {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar-icon img {
    opacity: 0.5;
    transition: all ease .2s;
    height: 25px;
    width: 25px;    
    color: #ffffff;
}
.sidebar-icon:hover img {
    opacity: 0.8;
}
.sidebar-icon:hover {
    cursor: pointer;

}